iframe{
    border: 5px outset ;
    background-image: linear-gradient(to right bottom, yellow, lightgreen, lightblue);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 20px;
    
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1 b{
    border: 5px inset brown;
    border-radius: 13px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to left top, blue, pink, transparent,black);
}
h1, h3{
    text-align: center;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: black,;
    text-decoration-line: underline;
    font-weight: bolder;
}
video{
    margin-left: 400px;
    
}
audio{
    margin-left: 500px;
    border: 2px inset  black;
    border-radius: 25px;
}
h2{
    text-align: center;
    color: black;

}
h2 b{
    border: 2px inset black;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(to right bottom, lightgreen,yellow, blue);
}
img{
    margin-left: 80px;
    border: 3px outset darkmagenta;
    border-radius: 20rem;
}
.image{
    border: 2px inset black;
    border-radius: 25px;
    /* background-image: linear-gradient(to left top, red, transparent, black, transparent, blue, transparent); */
    padding: 2rem;
    background-image: url(../Media1/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg);
    background-size: 1900px 600px;
    background-repeat: no-repeat;
    padding-top: 50px;

}
body{
        background-image: linear-gradient(to left top, red, transparent, black, transparent, blue, transparent);
        
}