.boys{
    background-image: radial-gradient(pink, darkblue);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin: 50px;
    border-left: 3px blue solid;
    border-radius: 15px;
    list-style-type: circle;
    list-style-position: inside;
}
.girls{
    background-image: radial-gradient( grey,gold );
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin: 50px;
    border-left: 3px rgb(250, 66, 97) solid;
    border-radius: 15px;
    list-style-type: square;
    list-style-position: inside;

}
div{
     background-image: linear-gradient(to top right, lightblue, purple, lightgreen);
     padding: 30px;
    
}
p{
    text-align: center;
    border: 2px inset black;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    color: rgb(10, 10, 10);
    }
li{
    padding: 5px;
}